.DS_Store
.vercel
.env
.env.local
.env.*.local
node_modules
apps/web/.next
apps/web/.next.stale-*
apps/web/node_modules
apps/web/tsconfig.tsbuildinfo
apps/mobile/.dart_tool
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build
apps/mobile/android
apps/mobile/ios
apps/mobile/linux
apps/mobile/macos
apps/mobile/windows
apps/mobile/web
supabase/.temp
